@import 'src/variables';

.meta{
    margin: 0 0 10px 0;
    padding: 0;

    li{
        color: $primary-color;
        display: inline-block;
        font-size: 14px;
        text-transform: uppercase;

        &:not(:last-child)::after{
            content: '•';
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
        }

        &:global(.primary){
            font-weight: 700;
        }
    }
}