div.LI-profile-badge a.LI-simple-link {
	display: none
}


.LI-badge-container.horizontal.light html,
.LI-badge-container.horizontal.light body,
.LI-badge-container.horizontal.light div,
.LI-badge-container.horizontal.light span,
.LI-badge-container.horizontal.light applet,
.LI-badge-container.horizontal.light object,
.LI-badge-container.horizontal.light iframe,
.LI-badge-container.horizontal.light h1,
.LI-badge-container.horizontal.light h2,
.LI-badge-container.horizontal.light h3,
.LI-badge-container.horizontal.light h4,
.LI-badge-container.horizontal.light h5,
.LI-badge-container.horizontal.light h6,
.LI-badge-container.horizontal.light p,
.LI-badge-container.horizontal.light blockquote,
.LI-badge-container.horizontal.light pre,
.LI-badge-container.horizontal.light a,
.LI-badge-container.horizontal.light abbr,
.LI-badge-container.horizontal.light acronym,
.LI-badge-container.horizontal.light address,
.LI-badge-container.horizontal.light big,
.LI-badge-container.horizontal.light cite,
.LI-badge-container.horizontal.light code,
.LI-badge-container.horizontal.light del,
.LI-badge-container.horizontal.light dfn,
.LI-badge-container.horizontal.light em,
.LI-badge-container.horizontal.light img,
.LI-badge-container.horizontal.light ins,
.LI-badge-container.horizontal.light kbd,
.LI-badge-container.horizontal.light q,
.LI-badge-container.horizontal.light s,
.LI-badge-container.horizontal.light samp,
.LI-badge-container.horizontal.light small,
.LI-badge-container.horizontal.light strike,
.LI-badge-container.horizontal.light strong,
.LI-badge-container.horizontal.light sub,
.LI-badge-container.horizontal.light sup,
.LI-badge-container.horizontal.light tt,
.LI-badge-container.horizontal.light var,
.LI-badge-container.horizontal.light b,
.LI-badge-container.horizontal.light u,
.LI-badge-container.horizontal.light i,
.LI-badge-container.horizontal.light center,
.LI-badge-container.horizontal.light dl,
.LI-badge-container.horizontal.light dt,
.LI-badge-container.horizontal.light dd,
.LI-badge-container.horizontal.light ol,
.LI-badge-container.horizontal.light ul,
.LI-badge-container.horizontal.light li,
.LI-badge-container.horizontal.light fieldset,
.LI-badge-container.horizontal.light form,
.LI-badge-container.horizontal.light label,
.LI-badge-container.horizontal.light legend,
.LI-badge-container.horizontal.light table,
.LI-badge-container.horizontal.light caption,
.LI-badge-container.horizontal.light tbody,
.LI-badge-container.horizontal.light tfoot,
.LI-badge-container.horizontal.light thead,
.LI-badge-container.horizontal.light tr,
.LI-badge-container.horizontal.light th,
.LI-badge-container.horizontal.light td,
.LI-badge-container.horizontal.light article,
.LI-badge-container.horizontal.light aside,
.LI-badge-container.horizontal.light canvas,
.LI-badge-container.horizontal.light details,
.LI-badge-container.horizontal.light embed,
.LI-badge-container.horizontal.light figure,
.LI-badge-container.horizontal.light figcaption,
.LI-badge-container.horizontal.light footer,
.LI-badge-container.horizontal.light header,
.LI-badge-container.horizontal.light hgroup,
.LI-badge-container.horizontal.light menu,
.LI-badge-container.horizontal.light nav,
.LI-badge-container.horizontal.light output,
.LI-badge-container.horizontal.light ruby,
.LI-badge-container.horizontal.light section,
.LI-badge-container.horizontal.light summary,
.LI-badge-container.horizontal.light time,
.LI-badge-container.horizontal.light mark,
.LI-badge-container.horizontal.light audio,
.LI-badge-container.horizontal.light video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline
}

.LI-badge-container.horizontal.light body {
	line-height: 1
}

.LI-badge-container.horizontal.light ol,
.LI-badge-container.horizontal.light ul {
	list-style: none
}

.LI-badge-container.horizontal.light table {
	border-collapse: collapse;
	border-spacing: 0
}

.LI-badge-container.horizontal.light caption,
.LI-badge-container.horizontal.light th,
.LI-badge-container.horizontal.light td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle
}

.LI-badge-container.horizontal.light q,
.LI-badge-container.horizontal.light blockquote {
	quotes: none
}

.LI-badge-container.horizontal.light q:before,
.LI-badge-container.horizontal.light q:after,
.LI-badge-container.horizontal.light blockquote:before,
.LI-badge-container.horizontal.light blockquote:after {
	content: "";
	content: none
}

.LI-badge-container.horizontal.light a img {
	border: none
}

.LI-badge-container.horizontal.light article,
.LI-badge-container.horizontal.light aside,
.LI-badge-container.horizontal.light details,
.LI-badge-container.horizontal.light figcaption,
.LI-badge-container.horizontal.light figure,
.LI-badge-container.horizontal.light footer,
.LI-badge-container.horizontal.light header,
.LI-badge-container.horizontal.light hgroup,
.LI-badge-container.horizontal.light menu,
.LI-badge-container.horizontal.light nav,
.LI-badge-container.horizontal.light section,
.LI-badge-container.horizontal.light summary {
	display: block
}

.LI-badge-container.horizontal.light input[data-ime-mode-disabled],
.LI-badge-container.horizontal.light input[type=file] {
	ime-mode: disabled !important
}

.LI-badge-container.horizontal.light html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

.LI-badge-container.horizontal.light a:focus {
	outline: thin dotted
}

.LI-badge-container.horizontal.light a:active,
.LI-badge-container.horizontal.light a:hover {
	outline: 0
}

.LI-badge-container.horizontal.light code,
.LI-badge-container.horizontal.light kbd,
.LI-badge-container.horizontal.light pre,
.LI-badge-container.horizontal.light samp {
	font-family: monospace, serif;
	font-size: 1em
}

.LI-badge-container.horizontal.light pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word
}

.LI-badge-container.horizontal.light small {
	font-size: 80%
}

.LI-badge-container.horizontal.light sub,
.LI-badge-container.horizontal.light sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

.LI-badge-container.horizontal.light sup {
	top: -0.5em
}

.LI-badge-container.horizontal.light sub {
	bottom: -0.25em
}

.LI-badge-container.horizontal.light img {
	border: 0
}

.LI-badge-container.horizontal.light form {
	margin: 0
}

.LI-badge-container.horizontal.light legend {
	border: 0;
	padding: 0;
	white-space: normal
}

.LI-badge-container.horizontal.light button,
.LI-badge-container.horizontal.light input,
.LI-badge-container.horizontal.light select,
.LI-badge-container.horizontal.light textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	vertical-align: baseline
}

.LI-badge-container.horizontal.light button,
.LI-badge-container.horizontal.light input {
	line-height: normal
}

.LI-badge-container.horizontal.light button,
.LI-badge-container.horizontal.light select {
	text-transform: none
}

.LI-badge-container.horizontal.light button,
.LI-badge-container.horizontal.light html input[type="button"],
.LI-badge-container.horizontal.light input[type="reset"],
.LI-badge-container.horizontal.light input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}

.LI-badge-container.horizontal.light button[disabled],
.LI-badge-container.horizontal.light html input[disabled] {
	cursor: default
}

.LI-badge-container.horizontal.light input[type="checkbox"],
.LI-badge-container.horizontal.light input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

.LI-badge-container.horizontal.light input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

.LI-badge-container.horizontal.light input[type="search"]::-webkit-search-cancel-button,
.LI-badge-container.horizontal.light input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

.LI-badge-container.horizontal.light button::-moz-focus-inner,
.LI-badge-container.horizontal.light input::-moz-focus-inner {
	border: 0;
	padding: 0
}

.LI-badge-container.horizontal.light textarea {
	overflow: auto;
	vertical-align: top
}

.LI-badge-container.horizontal.light fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em
}

.LI-badge-container.horizontal.light body {
	background: #e6e9ec
}

.LI-badge-container.horizontal.light body,
.LI-badge-container.horizontal.light button,
.LI-badge-container.horizontal.light input,
.LI-badge-container.horizontal.light textarea {
	font-family: sans-serif
}

.os-win .LI-badge-container.horizontal.light body,
.os-win .LI-badge-container.horizontal.light button,
.os-win .LI-badge-container.horizontal.light input,
.os-win .LI-badge-container.horizontal.light textarea {
	font-family: Arial, sans-serif
}

.os-mac .LI-badge-container.horizontal.light body,
.os-mac .LI-badge-container.horizontal.light button,
.os-mac .LI-badge-container.horizontal.light input,
.os-mac .LI-badge-container.horizontal.light textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.os-linux .LI-badge-container.horizontal.light body,
.os-linux .LI-badge-container.horizontal.light button,
.os-linux .LI-badge-container.horizontal.light input,
.os-linux .LI-badge-container.horizontal.light textarea {
	font-family: "Helvetica Neue", Helvetica, FreeSans, "Liberation Sans", Helmet, Arial, sans-serif
}

.LI-badge-container.horizontal.light #wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 974px;
	background: #e6e9ec
}

.LI-badge-container.horizontal.light a {
	color: #008cc9;
	text-decoration: none
}

.LI-badge-container.horizontal.light a.hover,
.LI-badge-container.horizontal.light a:hover,
.LI-badge-container.horizontal.light a.focus,
.LI-badge-container.horizontal.light a:focus {
	text-decoration: underline;
	color: #005e93
}

.LI-badge-container.horizontal.light a.visited,
.LI-badge-container.horizontal.light a:visited {
	color: #008cc9
}

.LI-badge-container.horizontal.light a.active,
.LI-badge-container.horizontal.light a:active {
	color: #005e93
}

.LI-badge-container.horizontal.light a.visited-hover,
.LI-badge-container.horizontal.light a:visited:hover,
.LI-badge-container.horizontal.light a:visited:focus,
.LI-badge-container.horizontal.light a.visited:hover,
.LI-badge-container.horizontal.light a.visited:focus {
	color: #005e93;
	text-decoration: underline
}

.LI-badge-container.horizontal.light a.visited-active,
.LI-badge-container.horizontal.light a:visited:active,
.LI-badge-container.horizontal.light a.visited:active {
	color: #005e93
}

.LI-badge-container.horizontal.light span.error {
	font-weight: bold;
	color: #900
}

.LI-badge-container.horizontal.light div.alert {
	margin-bottom: 15px
}

.LI-badge-container.horizontal.light div.alert,
.LI-badge-container.horizontal.light div.alert.error {
	background-color: #dd2e1f;
	overflow: hidden;
	display: block;
	color: #fff;
	font-size: 15px;
	line-height: 20px;
	position: relative;
	padding: 10px 20px 10px 50px;
	font-weight: bold
}

.LI-badge-container.horizontal.light div.alert:before,
.LI-badge-container.horizontal.light div.alert.error:before {
	font-family: "LinkedIn-Glyphs-2.0.2", "LinkedIn-Glyphs";
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	speak: none;
	font-size: 26px;
	color: inherit;
	content: "\e001"
}

.LI-badge-container.horizontal.light div.alert:before,
.LI-badge-container.horizontal.light div.alert.error:before {
	position: absolute;
	top: 7px;
	left: 12px;
	line-height: 1
}

.LI-badge-container.horizontal.light div.alert strong {
	font-weight: normal
}

.LI-badge-container.horizontal.light div.alert strong.strong,
.LI-badge-container.horizontal.light div.alert b {
	font-weight: bold
}

.LI-badge-container.horizontal.light div.alert p {
	margin: 0;
	font-size: 100%
}

.LI-badge-container.horizontal.light div.alert p+p {
	margin-top: 5px
}

.LI-badge-container.horizontal.light div.alert img {
	display: none
}

.LI-badge-container.horizontal.light div.alert a {
	color: #fff;
	text-decoration: underline;
	font-weight: bold
}

.LI-badge-container.horizontal.light div.alert a.hover,
.LI-badge-container.horizontal.light div.alert a:hover,
.LI-badge-container.horizontal.light div.alert a.focus,
.LI-badge-container.horizontal.light div.alert a:focus {
	text-decoration: underline
}

.LI-badge-container.horizontal.light div.alert a.active,
.LI-badge-container.horizontal.light div.alert a:active {
	color: #005e93
}

.LI-badge-container.horizontal.light div.alert a.visited-hover,
.LI-badge-container.horizontal.light div.alert a:visited:hover,
.LI-badge-container.horizontal.light div.alert a:visited:focus,
.LI-badge-container.horizontal.light div.alert a.visited:hover,
.LI-badge-container.horizontal.light div.alert a.visited:focus {
	color: #005e93;
	text-decoration: underline
}

.LI-badge-container.horizontal.light div.alert a.visited-active,
.LI-badge-container.horizontal.light div.alert a:visited:active,
.LI-badge-container.horizontal.light div.alert a.visited:active {
	color: #005e93
}

.LI-badge-container.horizontal.light div.alert:hover a {
	text-decoration: underline
}

.LI-badge-container.horizontal.light div.alert ul {
	margin: 0 21px 5px 7px
}

.LI-badge-container.horizontal.light div.alert .dismiss,
.LI-badge-container.horizontal.light div.alert #notice-close {
	color: #fff;
	background: transparent none;
	padding: 0 1px 0 0;
	border: 0;
	margin: 0;
	cursor: pointer;
	text-decoration: none;
	position: absolute;
	overflow: hidden;
	top: 50%;
	right: 10px;
	width: 13px;
	height: 13px;
	text-indent: 14px;
	margin-top: -6.5px;
	padding: 0
}

.LI-badge-container.horizontal.light div.alert .dismiss:before,
.LI-badge-container.horizontal.light div.alert #notice-close:before {
	font-family: "LinkedIn-Glyphs-2.0.2", "LinkedIn-Glyphs";
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	speak: none;
	font-size: 13px;
	color: inherit;
	content: "\e00f"
}

.LI-badge-container.horizontal.light div.alert .dismiss:before,
.LI-badge-container.horizontal.light div.alert #notice-close:before {
	vertical-align: top;
	line-height: 1;
	position: absolute;
	top: 0;
	right: 0;
	text-decoration: none;
	cursor: pointer
}

.LI-badge-container.horizontal.light div.alert .dismiss.hover,
.LI-badge-container.horizontal.light div.alert .dismiss:hover,
.LI-badge-container.horizontal.light div.alert .dismiss.focus,
.LI-badge-container.horizontal.light div.alert .dismiss:focus,
.LI-badge-container.horizontal.light div.alert #notice-close.hover,
.LI-badge-container.horizontal.light div.alert #notice-close:hover,
.LI-badge-container.horizontal.light div.alert #notice-close.focus,
.LI-badge-container.horizontal.light div.alert #notice-close:focus {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35)
}

.LI-badge-container.horizontal.light div.alert.attention,
.LI-badge-container.horizontal.light div.alert.warning {
	background-color: #ec640c;
	overflow: hidden;
	display: block;
	color: #fff;
	font-size: 15px;
	line-height: 20px;
	position: relative;
	padding: 10px 20px 10px 50px;
	font-weight: bold
}

.LI-badge-container.horizontal.light div.alert.attention:before,
.LI-badge-container.horizontal.light div.alert.warning:before {
	font-family: "LinkedIn-Glyphs-2.0.2", "LinkedIn-Glyphs";
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	speak: none;
	font-size: 26px;
	color: inherit;
	content: "\e003"
}

.LI-badge-container.horizontal.light div.alert.attention:before,
.LI-badge-container.horizontal.light div.alert.warning:before {
	position: absolute;
	top: 7px;
	left: 12px;
	line-height: 1
}

.LI-badge-container.horizontal.light div.alert.success {
	background-color: #4e8f13;
	overflow: hidden;
	display: block;
	color: #fff;
	font-size: 15px;
	line-height: 20px;
	position: relative;
	padding: 10px 20px 10px 50px;
	font-weight: bold
}

.LI-badge-container.horizontal.light div.alert.success:before {
	font-family: "LinkedIn-Glyphs-2.0.2", "LinkedIn-Glyphs";
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	speak: none;
	font-size: 26px;
	color: inherit;
	content: "\e000"
}

.LI-badge-container.horizontal.light div.alert.success:before {
	position: absolute;
	top: 7px;
	left: 12px;
	line-height: 1
}

.LI-badge-container.horizontal.light div.alert.notice {
	background-color: #737679;
	overflow: hidden;
	display: block;
	color: #fff;
	font-size: 15px;
	line-height: 20px;
	position: relative;
	padding: 10px 20px 10px 50px;
	font-weight: bold
}

.LI-badge-container.horizontal.light div.alert.notice:before {
	font-family: "LinkedIn-Glyphs-2.0.2", "LinkedIn-Glyphs";
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	speak: none;
	font-size: 26px;
	color: inherit;
	content: "\e002"
}

.LI-badge-container.horizontal.light div.alert.notice:before {
	position: absolute;
	top: 7px;
	left: 12px;
	line-height: 1
}

.LI-badge-container.horizontal.light {
	border-radius: 2px;
	display: inline-block !important;
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.24);
	word-wrap: break-word;
	word-break: break-word
}

.LI-badge-container.horizontal.light {
	font-family: sans-serif
}

.os-win .LI-badge-container.horizontal.light {
	font-family: Arial, sans-serif
}

.os-mac .LI-badge-container.horizontal.light {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.os-linux .LI-badge-container.horizontal.light {
	font-family: "Helvetica Neue", Helvetica, FreeSans, "Liberation Sans", Helmet, Arial, sans-serif
}

.LI-badge-container.horizontal.light .LI-profile-pic {
	border-radius: 50%
}

.LI-badge-container.horizontal.light .LI-view-profile {
	max-width: 240px;
	white-space: inherit;
	height: auto
}

.LI-badge-container.horizontal.light html,
.LI-badge-container.horizontal.light body,
.LI-badge-container.horizontal.light div,
.LI-badge-container.horizontal.light span,
.LI-badge-container.horizontal.light applet,
.LI-badge-container.horizontal.light object,
.LI-badge-container.horizontal.light iframe,
.LI-badge-container.horizontal.light h1,
.LI-badge-container.horizontal.light h2,
.LI-badge-container.horizontal.light h3,
.LI-badge-container.horizontal.light h4,
.LI-badge-container.horizontal.light h5,
.LI-badge-container.horizontal.light h6,
.LI-badge-container.horizontal.light p,
.LI-badge-container.horizontal.light blockquote,
.LI-badge-container.horizontal.light pre,
.LI-badge-container.horizontal.light a,
.LI-badge-container.horizontal.light abbr,
.LI-badge-container.horizontal.light acronym,
.LI-badge-container.horizontal.light address,
.LI-badge-container.horizontal.light big,
.LI-badge-container.horizontal.light cite,
.LI-badge-container.horizontal.light code,
.LI-badge-container.horizontal.light del,
.LI-badge-container.horizontal.light dfn,
.LI-badge-container.horizontal.light em,
.LI-badge-container.horizontal.light img,
.LI-badge-container.horizontal.light ins,
.LI-badge-container.horizontal.light kbd,
.LI-badge-container.horizontal.light q,
.LI-badge-container.horizontal.light s,
.LI-badge-container.horizontal.light samp,
.LI-badge-container.horizontal.light small,
.LI-badge-container.horizontal.light strike,
.LI-badge-container.horizontal.light strong,
.LI-badge-container.horizontal.light sub,
.LI-badge-container.horizontal.light sup,
.LI-badge-container.horizontal.light tt,
.LI-badge-container.horizontal.light var,
.LI-badge-container.horizontal.light b,
.LI-badge-container.horizontal.light u,
.LI-badge-container.horizontal.light i,
.LI-badge-container.horizontal.light center,
.LI-badge-container.horizontal.light dl,
.LI-badge-container.horizontal.light dt,
.LI-badge-container.horizontal.light dd,
.LI-badge-container.horizontal.light ol,
.LI-badge-container.horizontal.light ul,
.LI-badge-container.horizontal.light li,
.LI-badge-container.horizontal.light fieldset,
.LI-badge-container.horizontal.light form,
.LI-badge-container.horizontal.light label,
.LI-badge-container.horizontal.light legend,
.LI-badge-container.horizontal.light table,
.LI-badge-container.horizontal.light caption,
.LI-badge-container.horizontal.light tbody,
.LI-badge-container.horizontal.light tfoot,
.LI-badge-container.horizontal.light thead,
.LI-badge-container.horizontal.light tr,
.LI-badge-container.horizontal.light th,
.LI-badge-container.horizontal.light td,
.LI-badge-container.horizontal.light article,
.LI-badge-container.horizontal.light aside,
.LI-badge-container.horizontal.light canvas,
.LI-badge-container.horizontal.light details,
.LI-badge-container.horizontal.light embed,
.LI-badge-container.horizontal.light figure,
.LI-badge-container.horizontal.light figcaption,
.LI-badge-container.horizontal.light footer,
.LI-badge-container.horizontal.light header,
.LI-badge-container.horizontal.light hgroup,
.LI-badge-container.horizontal.light menu,
.LI-badge-container.horizontal.light nav,
.LI-badge-container.horizontal.light output,
.LI-badge-container.horizontal.light ruby,
.LI-badge-container.horizontal.light section,
.LI-badge-container.horizontal.light summary,
.LI-badge-container.horizontal.light time,
.LI-badge-container.horizontal.light mark,
.LI-badge-container.horizontal.light audio,
.LI-badge-container.horizontal.light video {
	text-decoration: none;
	line-height: normal;
	letter-spacing: normal;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.LI-badge-container.horizontal.light .LI-name-container {
	margin: 25px 20px 0px 25px;
	display: flex
}

.LI-badge-container.horizontal.light .LI-profile-pic-container {
	margin-right: 10px;
	padding-bottom: 10px
}

.LI-badge-container.horizontal.light .LI-field {
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 17px;
	color: #737679;
	color: rgba(0, 0, 0, 0.55);
	font-weight: normal
}

.LI-badge-container.horizontal.light .LI-field a {
	font-size: 13px;
	line-height: 17px;
	color: #737679;
	color: rgba(0, 0, 0, 0.55);
	font-weight: normal;
	text-decoration: none;
	vertical-align: middle
}

.LI-badge-container.horizontal.light .LI-field a.hover,
.LI-badge-container.horizontal.light .LI-field a:hover,
.LI-badge-container.horizontal.light .LI-field a.focus,
.LI-badge-container.horizontal.light .LI-field a:focus {
	text-decoration: none;
	color: #006fa6;
	cursor: pointer
}

.ie .LI-badge-container.horizontal.light .LI-field a.hover,
.ie .LI-badge-container.horizontal.light .LI-field a:hover,
.ie .LI-badge-container.horizontal.light .LI-field a.focus,
.ie .LI-badge-container.horizontal.light .LI-field a:focus {
	cursor: hand
}

.LI-badge-container.horizontal.light .LI-field a.active,
.LI-badge-container.horizontal.light .LI-field a:active {
	color: #005e93
}

.LI-badge-container.horizontal.light .LI-field a.visited-hover,
.LI-badge-container.horizontal.light .LI-field a:visited:hover,
.LI-badge-container.horizontal.light .LI-field a:visited:focus,
.LI-badge-container.horizontal.light .LI-field a.visited:hover,
.LI-badge-container.horizontal.light .LI-field a.visited:focus {
	color: #005e93;
	text-decoration: none
}

.LI-badge-container.horizontal.light .LI-field a.visited-active,
.LI-badge-container.horizontal.light .LI-field a:visited:active,
.LI-badge-container.horizontal.light .LI-field a.visited:active {
	color: #005e93
}

.LI-badge-container.horizontal.light .LI-title {
	display: block;
	font-size: 14px;
	font-weight: normal;
	line-height: 16px;
	color: #232629;
	color: rgba(0, 0, 0, 0.85)
}

.LI-badge-container.horizontal.light .LI-name {
	display: block;
	font-size: 18px;
	line-height: 22px;
	color: #434649;
	color: rgba(0, 0, 0, 0.7);
	font-weight: bold
}

.LI-badge-container.horizontal.light .LI-name a {
	font-size: 18px;
	line-height: 22px;
	color: #434649;
	color: rgba(0, 0, 0, 0.7);
	font-weight: bold;
	text-decoration: none
}

.LI-badge-container.horizontal.light .LI-name a.hover,
.LI-badge-container.horizontal.light .LI-name a:hover,
.LI-badge-container.horizontal.light .LI-name a.focus,
.LI-badge-container.horizontal.light .LI-name a:focus {
	text-decoration: none;
	color: #006fa6;
	cursor: pointer
}

.ie .LI-badge-container.horizontal.light .LI-name a.hover,
.ie .LI-badge-container.horizontal.light .LI-name a:hover,
.ie .LI-badge-container.horizontal.light .LI-name a.focus,
.ie .LI-badge-container.horizontal.light .LI-name a:focus {
	cursor: hand
}

.LI-badge-container.horizontal.light .LI-name a.active,
.LI-badge-container.horizontal.light .LI-name a:active {
	color: #005e93
}

.LI-badge-container.horizontal.light .LI-name a.visited-hover,
.LI-badge-container.horizontal.light .LI-name a:visited:hover,
.LI-badge-container.horizontal.light .LI-name a:visited:focus,
.LI-badge-container.horizontal.light .LI-name a.visited:hover,
.LI-badge-container.horizontal.light .LI-name a.visited:focus {
	color: #005e93;
	text-decoration: none
}

.LI-badge-container.horizontal.light .LI-name a.visited-active,
.LI-badge-container.horizontal.light .LI-name a:visited:active,
.LI-badge-container.horizontal.light .LI-name a.visited:active {
	color: #005e93
}

.LI-badge-container.horizontal.light .LI-row:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden
}

.LI-badge-container.horizontal.light .LI-col {
	float: left
}

.LI-badge-container.horizontal.light .LI-header {
	width: 70%
}

.LI-badge-container.horizontal.light .LI-logo {
	position: absolute;
	bottom: 0;
	right: 5px
}

.LI-badge-container.horizontal.light .LI-icon {
	padding-top: 6px;
	width: 85px;
	max-height: 20px
}

.LI-badge-container.horizontal.light .LI-footer {
	margin: 0px 15px 20px 25px;
	position: relative
}

.LI-badge-container.horizontal.light .LI-field-icon {
	width: 24px;
	height: 24px;
	margin-right: 10px;
	vertical-align: middle
}

.LI-badge-container.horizontal.light .LI-view-profile {
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	margin: 0;
	overflow: visible;
	text-decoration: none !important;
	text-align: center;
	width: auto;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	padding: 0 13px;
	height: 31px;
	line-height: 31px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 13px;
	color: #008cc9;
	background-color: transparent;
	border-color: #008cc9;
	white-space: nowrap;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	zoom: 1;
	*display: inline;
	vertical-align: middle
}

.LI-badge-container.horizontal.light .LI-view-profile.hover,
.LI-badge-container.horizontal.light .LI-view-profile:hover,
.LI-badge-container.horizontal.light .LI-view-profile.focus,
.LI-badge-container.horizontal.light .LI-view-profile:focus {
	-webkit-box-shadow: inset 1px 1px #0077b5, inset -1px -1px #0077b5;
	-moz-box-shadow: inset 1px 1px #0077b5, inset -1px -1px #0077b5;
	box-shadow: inset 1px 1px #0077b5, inset -1px -1px #0077b5;
	border-color: #0077b5;
	color: #0077b5
}

.LI-badge-container.horizontal.light .LI-view-profile.active,
.LI-badge-container.horizontal.light .LI-view-profile:active {
	-webkit-box-shadow: inset 1px 1px #0077b5, inset -1px -1px #0077b5;
	-moz-box-shadow: inset 1px 1px #0077b5, inset -1px -1px #0077b5;
	box-shadow: inset 1px 1px #0077b5, inset -1px -1px #0077b5;
	border-color: #005e93;
	color: #005e93
}

.LI-badge-container.horizontal.light .LI-view-profile.disabled,
.LI-badge-container.horizontal.light .LI-view-profile[disabled] {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	cursor: default;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
	opacity: 0.4
}

.LI-badge-container.horizontal.light {
	width: 330px
}

.LI-badge-container.horizontal.light .LI-profile-pic {
	width: 70px;
	height: 70px
}

.LI-badge-container.horizontal.light .LI-title {
	padding-top: 5px
}

.LI-badge-container.horizontal.light .LI-more-info {
	padding: 10px 20px 5px 25px
}

@media only screen and (max-width: 475px) {
	.LI-badge-container.horizontal.light {
		width: 280px
	}
	.LI-badge-container.horizontal.light .LI-name-container {
		margin: 15px 15px 0px 15px;
		display: flex
	}
	.LI-badge-container.horizontal.light .LI-name a {
		font-size: 16px;
		line-height: 20px
	}
	.LI-badge-container.horizontal.light .LI-profile-pic {
		width: 50px;
		height: 50px;
		margin: 6px auto 0 auto
	}
	.LI-badge-container.horizontal.light .LI-title {
		padding-top: 5px;
		font-size: 13px
	}
	.LI-badge-container.horizontal.light .LI-more-info {
		padding: 10px 15px 10px 15px
	}
	.LI-badge-container.horizontal.light .LI-field {
		margin-bottom: 10px;
		font-size: 13px
	}
	.LI-badge-container.horizontal.light .LI-field-icon {
		width: 16px;
		height: 16px
	}
	.LI-badge-container.horizontal.light .LI-header {
		width: 65%
	}
	.LI-badge-container.horizontal.light .LI-footer {
		margin: 0px 15px 20px 15px
	}
}